.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

table td{
    white-space: nowrap;  /** added **/
}


body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; margin: 10px;}
/*a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }*/

table {
  /*border: none;*/
  border-bottom: 1px solid #C8C8C8;
  /*border-collapse: collapse; */
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.8em;
}

.scrollit {
    overflow:scroll;
    height:100px;
}
